<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>근처 수영장을 확인하기 위해 권한을 요청합니다.</string>
	<key>NMFClientId</key>
	<string>cd92f7ybte</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>프로필 사진을 추가하기 위해 앨범 접근 권한을 요청 합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>프로필 사진을 추가하기 위해 사진 추가 접근 권한을 요청 합니다.</string>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>UIAppFonts</key>
	<array>
		<string>GodoB.otf</string>
		<string>GodoM.otf</string>
		<string>SF-Pro-Text-Black.otf</string>
		<string>SF-Pro-Text-Bold.otf</string>
		<string>SF-Pro-Text-Light.otf</string>
		<string>SF-Pro-Text-Medium.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
